// site wide
$color_site_background: #ebebeb;
$color_site_primary: #333399;
$color_site_primary_darker: #2727c7;
$color_site_secondary: #0095A8;
$color_site_secondary_darker: rgb(0, 100, 114);
$color_site_secondary_bright: rgb(41, 204, 226);
$color_page_background: white;
$color_page_border: #cccccccc;