.login-info {
    color: white;
    margin-top: 5px;
    span {
        margin-left: 6px;
    }
}

.username-badge {
    font-size: 18px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid white;
}